<div class="container">

  <div class="row">
   <div class="col-md-12">

     <h2 style=" padding: 1em;
     background: #aaa;
     color:white;
     clear: left;
     text-align: left;">
    <img src="img/up.png">  Thank you for purchase!!!
     </h2>

    </div>

  </div>





  <div class="row">
   <div class="col-md-4">
      <div class="jumbotron">
<img src="{{poster}}" style="height:410px;width:250px" >
</div>
 </div>

 <div class="center-block row col-md-8 col-sm-12">
    <div class="jumbotron">
      <p><b>Dear {{custName}},</b> </p>

      <p><b> Your Tickets Are Booked For<b> {{movie}} </p>

      <p>
      {{SelectTheatre}},{{SelectCity}}
      </p>

      <p>
       {{SelectTime}} | {{SelectDate}}
      </p>
      <p>
         Quantity : {{seatcount11}}
      </p>
      <p>
        Seats (GOLD) : {{seatno111}}
      </p>
    <p>Ticket Price : {{subtotal11}}
  </p>
  <p><b>Amount Paid Successfully<b> </p>


    <h5>
      <b>CONFIRMATION ID</b>
      <img src="img/booking.png">
    </h5>
    <p>
      <b>123456789<b>
    </p>




      <div>
     </div>
   </div>
