<div class="container">
 <div class="row">
  <div class="col-md-12">

    <h2 style=" padding: 1em;
    background: #aaa;
    color:white;
    clear: left;
    text-align: center;">
     RATE FOR MOVIE: {{movie1}}
    </h2>

   </div>

 </div>
 <br>
 <div class="row">
  <div class="col-md-4">
     <div class="jumbotron">
     <img alt="Bootstrap Image Preview" src={{poster1}} class="img-thumnail"  height="300" width="250"/>
 </div>
  </div>
  <div class="center-block row col-md-8 col-sm-12">
     <div class="jumbotron">
       <form>
  <table class="table">
<tr>
      <td>   <label>Customer Name</label>
         <p class="input-group">
           <input type="text" class="form-control" placeholder="Enter Name." ng-model="contact.CustomerName">
         </p></td>
         <td>
           <label>Review</label>
         <p class="input-group">
           <input type="text" class="form-control" placeholder="Enter Review" ng-model="contact.Feedback">
           </p>
         </td>


</tr>



<tr>
                 <span class="input-group-btn"> </p>
                   <button type="submit" class="btn btn-primary" ng-click="addreview()">Add Review</button>

                 </span>
               </tr>
               <table>

               </form>
   <div>
  </div>










<br>
  <div class="row">
      <div class="col-lg-12">
        <p>Reviews for {{movie1}}</p>
        <table class="table">

          <tr>
          <th>Customer Name</th>
          <th>Review</th>



        </tr>

        <tbody>
          <tr>






   		</tr>
      </tbody>

      </table>
      </div>
    </div>
 </div>
