
 <div class="container">



 <div class="row">
  <div class="col-md-12">
  <form>
        <table class="table">


              <tr>
                <td>  <h2 style=" padding: 1em;
                      background: #aaa;
                    color:white;
                    clear: left;
                    text-align: center;">
                     BOOK SEATS FOR MOVIE: {{movie}}
                    </h2>
                </td>
                <!-- <td>
                  <p>No. of seats</p>
                 <select  class="form-control text-uppercase" id="noof_seats" >
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>

                                    </select>

                </td> -->
                </tr>

                </table>
                </form>

   </div>

 </div>


   <div class="row">
    <div class="col-sm-8">
     <div class="jumbotron">

        <div  class = "center-block row"  >
                    <table class ="center-block"  id="table1">


          <tr>


    <td style="text-align: center"></td>

               <td colspan="12" style="text-align: center"><tbd>

                <h4 style=" padding: 0em;
    background: #480F03;
    color:white;
    clear: left;
    text-align: center;">Seat Arrangement</h4></td>

    </tr>
    <tr></tr>
    <tr></tr>

      <tr>

       <td>&nbsp;</td>

              <td>
                      A</td>

               <td>
                      B</td>

                <td>
                      C</td>

                 <td>
                      D</td>

                 <td>
                      E</td>

                <td>
                      F</td>

               <td>
                      G</td>

               <td>
                      H</td>

                 <td>
                      I</td>

                  <td>
                      J</td>

                <td>
                      </td>






             </tr>
             <tr>
               <td colspan="12" >

             <h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
           </td>
           </tr>













    <tr>

 <td>1</td>

   <td>

        <img alt="" id="A1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J1" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td></td>


              </tr>
              <tr>
                  <td>
                      2</td>
                  <td>
                       <img alt="" id="A2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J2" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>

                  <td></td>

              </tr>
              <tr>
                  <td>
                      3</td>
                  <td>
                       <img alt="" id="A3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="B3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="C3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="D3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="E3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="F3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="G3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="H3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="I3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt=""  id="J3" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td></td>



              </tr>
              <tr>
                  <td>
                      4</td>
                  <td>
                       <img alt="" id="A4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J4" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td></td>


              </tr>

              <tr>&nbsp;</tr>





              <tr>
                  <td>
                      5</td>
                  <td>
                       <img alt="" id="A5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J5" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>



              </tr>
               <tr>
                  <td>
                      6</td>
                  <td>
                       <img alt="" id="A6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J6" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>



              </tr>
               <tr>
                  <td>
                      7</td>
                  <td>
                       <img alt="" id="A7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="B7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="C7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="D7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="E7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="F7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="G7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="H7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="I7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                  <td>
                      <img alt="" id="J7" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>



              </tr>
              <tr>
                 <td>
                     8</td>
                 <td>
                      <img alt="" id="A8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="B8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="C8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="D8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="E8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="F8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="G8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="H8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="I8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>
                 <td>
                     <img alt="" id="J8" src="img/W_chair.gif" style="width: 17px; height: 17px" /></td>



             </tr>


             <tr>
               <td colspan="12">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </td>
             </tr>
             <tr>
               <td colspan="12">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </td>
             </tr>



<tr>
                  <td colspan="12" align="center">
                      <img alt="" src="img/p3_r1_c1.jpg" style="width: 650px; height: 64px" />
                    </td>

              </tr>






                <tr>
                  <td colspan="12">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                </tr>
                <tr>
                  <td colspan="12">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                </tr>


                <tr class="success"  >
                  <td colspan="12">NOT BOOKED&nbsp;<img alt="" id="J8" src="img/W_chair.gif" style="width: 17px; height: 17px" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  BOOKED&nbsp;<img alt="" id="J8" src="img/R_chair.gif" style="width: 17px; height: 17px" />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  SELECTED&nbsp;<img alt="" id="J8" src="img/G_chair.gif" style="width: 17px; height: 17px" />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                </tr>


                <tr>
                </tr>




          </table>
                </div>
           </div>

      </div>






   <div class="center-block row col-md-4 col-sm-8" >
    <div class="jumbotron">
          <table class = "table">

          <thead>
          <tr>
            <td colspan="3"><h3>Booking Summary</h3></td>
          </tr>
        </thead>
          <tr>
            <td><span>No. of seat selected : </span></td>
            <td><span id="seatcount">0</span></td>
          </tr>
          <tr>
            <td>Class : </td>
            <td><span id="seatclass">GOLD</span></td>
          </tr>
          <tr>
            <td>Seat No : </td>
            <td><span id="seatno"></span></td>
          </tr>
          <tr>
            <td>Theatre : </td>
            <td><span >{{SelectTheatre}}</span></td>
          </tr>
          <tr>
            <td>Date : </td>
            <td><span >{{SelectDate}}</span></td>
          </tr>
          <tr>
            <td>Time : </td>
            <td><span >{{SelectTime}}</span></td>
          </tr>
          <tr>
            <td>Sub Total : </td>
            <td><span id="subtotal">0</span></td>
          </tr>
          <tr>
            <td colspan="2">
              <br/><br/><!-- <button type="button" onclick="window.location.href='/makepayment?class=GOLD'" class="btn btn-success btn-lg btn-block">Proceed to Payment</button>
 -->
 <button type="button" class="center-block btn btn-danger btn-lg"
                         style="text-align: center; width: 100%; "   ng-click="Show1()">Proceed</button>
            </td>
          </tr>
       </table>
       </div>
        </div>



</div>
</body>
</html>
